:root {
    --primary-color: #033F63;
 	--secondary-color: #28666E;
 	--accent1-color: #7C9885;
 	--accent2-color: #B5B682;

    --heading-font: "Bebas Neue", sans-serif;
    --body-font: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    align-items: center;
    /* background-color: var(--primary-color); */
}
header nav a {
    text-decoration: none;
    color: var(--primary-color);
}

header img {
    grid-column: 1/2;
    width: 100px;
    height: auto;
    grid-row: 1;
    justify-self: center;    
}

header nav {
    grid-column: 2/3;
    grid-row: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
section h2 {
    justify-self: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 900;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

article {
    position: absolute;
    background-color: var(--accent1-color);
    color: white;
    top: 12rem;
}

.hero article img {
    float: right ;
    width: 200px ;
    height: auto ;
    padding: 1rem 1rem 1rem .7rem;
}

h1 {
    position: absolute;
    top: 5rem;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}


.wwr-adventures {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin: 1rem auto;
}
figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 150px;
  margin: auto;
}

.wwr-adventure figure img {
  max-width: 150px;
  max-height: 100px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

footer {
    display: grid;
    align-items: center;
    grid-template-columns: 600px 1fr;
    border-top: 2px solid grey;
}

footer p {
    justify-self: center;
}

footer nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer nav a img {
    width: 30px;
    height: auto;
}

