:root {
    --primary-color: #a6b153;
    --secondary-color: #97d0a3;
    --accent1-color: #1b1c0d;
    --accent2-color: #74c0a0;
    --heading-font: "Roboto", serif;
    --body-font: "Open Sans", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 1rem;
    padding: 0.5rem;
}

.socialmedia a {
    text-decoration: none;
}

.hero  {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    opacity: .7;
    padding: 1rem;
    background-color: var(--accent2-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 100px;
    width: 90%;
    justify-self: center;
    align-items: center;
    margin: 2rem;
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: var(--secondary-color);

}

.hero article img {
    float: right;
    width: 150px;
    margin: 1rem;
    height: auto;
}