.callout {
    max-width: 500px;
    margin: 2rem;
    border: 2px solid darkblue;
    background-color: darkblue;
    color: white;
}

.callout img {
    float: right;
    margin: 1rem;
    border: 1px solid gray;
    padding: 2px;
    background-color: gray;
    width: 80px;
	height: auto;
}

blockquote {
    margin: 1.5rem;
	
}

cite {
    margin: 16px;
	display: block;
    border-top: 1px dotted gray;
    padding-top: 16px;
    text-align: right;
    font-size: 16px;
}